{% load static %}
<!doctype html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <title>UPAC Cinema</title>
  	</head>
  	<body>

        <!--Nav Bar: do not remove-->
        {% include "nav_bar.html" %}

        <div class="row" style="padding-top:50px; padding-bottom:50px;">
            <div class="col-lg-6" style="padding-bottom:10px;">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="big-poster" src="{{ upcoming_showing1.movie.poster_url }}">
                        </div>
                        <div class="col-md-8" style="padding-left:60px;">
                            <div class="panel panel-heading" style="padding-bottom:10px; padding-top:10px;">
                                {{ upcoming_showing1.date }} - {{ upcoming_showing1.time }}
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HfSisHrUTLM"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-bottom:10px; padding-top:10px;">
                        {{ upcoming_showing1.movie.plot }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="big-poster" src="{{ upcoming_showing2.movie.poster_url }}">
                        </div>
                        <div class="col-md-8" style="padding-left:60px;">
                            <div class="panel panel-heading" style="padding-bottom:10px; padding-top:10px;">
                                {{ upcoming_showing2.date }} - {{ upcoming_showing2.time }}
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S8_YwFLCh4U"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-bottom:10px;">
                        {{ upcoming_showing2.movie.plot }}
                    </div>
                </div>
            </div>
        </div>

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for showing in showings_list %}
                    {% if showing == upcoming_showing1 %}
                        <div class="carousel-item active">
                            <div class="carousel-img"><img class="poster" src="{{ showing.movie.poster_url }}"></div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="carousel-img"><img class="poster" src="{{ showing.movie.poster_url }}"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <script>
        $('.carousel .carousel-item').each(function(){
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            var count = document.getElementById("carousel").getElementsByClassName("carousel-item").length;
            if (count > 9) { count = 9; }
            for (var i=0;i<count;i++) {
                next=next.next();
                if (!next.length) {
                    next=$(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }
        });
        </script>

    	<!-- JS Stuff bootstrap says to include -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	</body>
</html>
