<!-- <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/> -->
{% load static %}
<nav id="nav-loader">
    <a href="index.html" style ="float: left; width: 11%; height: 50%">
      <img src="{% static 'images/logo.png' %}" alt="my picture"/>
    </a>
    <li class="border-left"><a href="{% url 'schedule:index' %}">Home</a></li>
    <li class="border-left"><a href="{% url 'schedule:past_showings' %}">Past Showings</a></li>
    <li class="border-left"><a href="{% url 'contact:sponsor' %}">Sponsor a Movie</a></li>
    <li class="border-left"><a href="{% url 'about:faq' %}">FAQ</a></li>
    <li class="border-left"><a href="{% url 'about:policy' %}">Policies</a></li>
    <li class="border-left"><a href="{% url 'about:bylaws' %}">Bylaws</a></li>
    <li class="border-left"><a href="{% url 'contact:feedback' %}">Feedback</a></li>
    <li class="border-left">
    	<b>
    		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Officer Login</button>
    	</b>
    </li>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: #ECCD34;">
	        <h5 class="modal-title" style="font-weight: bold" id="loginModalLabel">LOGIN</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
                  <b>Authentication is currently disabled due to RPI Union constraints.</b><br/><br/>
	          <div class="form-group">
	            <label for="username" class="col-form-label">Username:</label>
	            <input type="text" class="form-control" id="username" disabled>
	          </div>
	          <div class="form-group">
	            <label for="password" class="col-form-label">Password:</label>
	            <input type="password" class="form-control" id="password" disabled>
	          </div>
	          <div class = "btn-group float-right row">
	          	<div class = "col-md-8"><button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button></div>
	          	<div class ="col-md-2"></div>
	          	<div class = "col-md-2"><a href="{% url 'backend:officers' %}" class="button btn btn-primary float-right">Login</a></div>
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	<script type= "text/javascript">
		$(document).ready(function() {
			$("[href]").each(function() {
				if (this.href == window.location.href) {
					$(this).addClass("active");
				}
			})
		});
	</script>
</nav>
